#playeroneside, #playertwoside {
  background-image: url("https://static.tvtropes.org/pmwiki/pub/images/dgdfgdfg_6083.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  color: azure;

}